<%- include("partials/header") -%>
     
   <div class="row mt-5">
     <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h2>Welcome</h2>
        <h1><i class="fab fa-node "></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" ><button type="button" class="btn btn-secondary mb-2">Register</button></a>
        <a href="/users/login"><button type="button" class="btn btn-secondary"> Login</button></a>
       </div>
     </div>
   </div>
<%- include("partials/footer") -%>
